
{% block content %}      

{% load crispy_forms_tags %}

<html>

<head>
  <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;600&display=swap" rel="stylesheet">
  <link href="styles.css">
</head>

<body style="display: flex; justify-content: center;">
<!--Login--> 
<div style="
box-sizing: border-box;
width: 1200px;
height: 700px;
margin-top: 30px;
border: 2px solid #FF5C00;
border-radius: 30px;
display: flex;
flex-direction: column;
justify-content: center;
">
  <div style="display:flex; flex-direction: row;">
  {% load static %} <img src="{% static 'items/images/logo.png'%}" alt="Logo" style="
  position: absolute;
  width: 53px;
height: 57px;
left: 150px;
top: 70px;
  "><img>
  <h1 style="
  position: absolute;
width: 1600px;
height: 80px;
left: 480px;
top: 20px; 

font-family: 'Rubik';
font-style: normal;
font-weight: 400;
font-size: 80px;
line-height: 114px;
letter-spacing: 0.15em;

color: #FF8A00;

  ">swapparel</h1>
  </div>
  <h2 style="
  position: absolute;
width: 500px;
height: 35px;
left: 530px;
top: 200px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 26px;
line-height: 42px;

color: #616161;

  ">Welcome! Log in to your account.</h2>
  <form method="POST" style="
  position: absolute;
  left: 640;
  margin-top: 30px;
  line-height: 3;
  color: #616161;
  font-family: 'Roboto';
  font-size: 20px;
  ">
    {% csrf_token %}
    {{ login_form|crispy }}
    <button style="
    color:white;
    background-color: #FF5C00;
    border: 0cm;
    border-radius: 0%;
    width: 200;
    height: 30;
    font-family: 'Rubik';
    letter-spacing: 0.15em;
    font-weight: 400;
    font-size: 18;
    cursor: pointer;
    margin-top: 50px;
    margin-left: -25px;
    " type="submit">LOGIN</button>
  </form>
  <p style="
  position: absolute;
width: 653px;
height: 47px;
left: 535px;
top: 550px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 42px;

color: #616161;

  ">Don't have an account? <a href="/register">Create an account</a>.</p>
</div>
</body>
</html>

{% endblock %}